html, body
  margin: 0
  padding: 0
  font-family: 'Roboto Slab', serif

a, a:hover, a:visited, a:active
  color: white
  text-decoration: none

section
  padding: 50px 20px

  h1
    padding-bottom: 50px

@import header
@import about
@import portfolio
@import contact
@import footer
