@import _sizes

section#portfolio

  .item, img.mobile
    border: 3px solid #270B21
    border-radius: 10px
    margin: 50px 0

  .item
    width: 100%
    height: 60%

    @media(max-width: $medium)
      display: none

    &.item-buybyelease
      background: url('/res/images/buybyelease.png')
      background-size: cover
      background-repeat: no-repeat

    &.item-owltoreed
      background: url('/res/images/owltoreed.png')
      background-size: cover
      background-repeat: no-repeat

    &.item-raffle
      background: url('/res/images/raffle.png')
      background-size: cover
      background-repeat: no-repeat

  img.mobile
    display: none
    width: 100%

    @media(max-width: $medium)
      display: block
