section#about
  h1 About me.

  .content
    p I am a full-stack web developer, specializing in ASP.NET WebAPI and
      | AngularJS.  I currently reside in San Antonio, TX, with my wife and
      | two dogs.

  .twitter
    a.twitter-timeline(data-widget-id="657183166927532034", href="https://twitter.com/chrisperkodev", data-screen-name="chrisperkodev")
      | Follow me on Twitter!
