section#about
  h1 About me.
  p I am a graduate of Appalachian State University, with a Bachelor of Science degree in Computer Science, located in Boone, North Carolina. Since leaving school, I have done a variety of programming work, including Python, Java, and .NET. However, my favorite has been to work in web technologies, such as AngularJS.
  p I also enjoy working on game development under the ApolloCanis brand. I currently have a couple of Android games available and am working on my first Desktop game.
  p Recently, I have partnered with WhoFedThem, to bring the popular pet activity tracer app to the Android platform!
