header
  .logo
    h1 Chris Perko
    h2 Web Developer

  .logo-bg

  nav
    ul
      li
        a(href="#about") About
      li
        a(href="#") Skills
      li
        a(href="#") Portfolio
      li
        a(href="#") Contact

  .hero
