html
  head
    title Chris Perko | Web Developer
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="theme-color", content="#E9B5EE")
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="libs/animate.css")
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100', rel='stylesheet', type='text/css')
    link(href="https://fonts.googleapis.com/css?family=Righteous", rel="stylesheet", type='text/css')
    script(src="https://code.jquery.com/jquery-1.11.3.min.js")
    script(src="js/clicks.js")
    script(src="js/loader.js")
    script(src="js/parallax.js")

  body
    .load-wrapper
      .load-spinner.pulse

    .site-wrapper
      include hero
      include portfolio
      include codepen
      include contact
      include footer
