html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="theme-color", content="#0000ff")
    link(rel="stylesheet", href="css/main.css")
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100', rel='stylesheet', type='text/css')

  body
    include header
