section#portfolio
  h1 My work.
  a(href="http://www.buybyelease.com/", target="_blank")
    .item.item-buybyelease
    img.mobile(src="/res/images/buybyelease-sm.png")
  a(href="http://www.owltoreed.com/", target="_blank")
    .item.item-owltoreed
    img.mobile(src="/res/images/owltoreed-sm.png")
