section#portfolio
  h1 My work.

  .image-wrapper
    p.description BuyByeLease.com
    a(href="http://www.buybyelease.com/", target="_blank")
      img(src="/res/images/buybyelease.png")

  .image-wrapper
    p.description OwlToReed.com
    a(href="http://www.owltoreed.com/", target="_blank")
      img(src="/res/images/owltoreed.png")

  .image-wrapper
    p.description COMING SOON
    a(href="", target="_blank")
      img(src="/res/images/raffle.png")
