section#portfolio
  h1 Portfolio.

  .flex
    .item.flex-1
      img(src="res/images/apollocanis.png")

    .item.flex-1
      img(src="res/images/whofedthem.png")

    .item.flex-1
      img(src="res/images/owltoreed.png")

    .item.flex-1
      img(src="res/images/lookleaseandlive.png")
