section#portfolio
  h1 Portfolio.

  .flex
    .item.hidden.flex-1
      img(src="res/images/apollocanis.png", data-link="http://www.apollocanis.com/")

    .item.hidden.flex-1
      img(src="res/images/whofedthem.png", data-link="http://www.whofedthem.com/")

    .item.hidden.flex-1
      img(src="res/images/owltoreed.png", data-link="http://www.owltoreed.com/")

    .item.hidden.flex-1
      img(src="res/images/lookleaseandlive.png", data-link="http://www.lookleaseandlive.chrisperko.net/")
